@charset "UTF-8";

body {
	
	background-image: url("../../image/mainImage/mainBack2.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 2000px;
}
div#top_info {
	margin: 0 auto;
	width: 2000px;
	height: 60px;
}

#menu_sub {
	width: 2000px;
	height: 300px;
	position: absolute;
	top: 70px;
	border-bottom: 1px solid black;
	z-index: 5;
	display: none;   
}
 
#menu_space {
	font-size: 2em;
	text-align: center;
	width: 2000px;
	height: 400px;
	margin: 0 auto;
	opacity: 0.8;
	z-index: 0;
}

#menu_title {
	position: absolute;
	width: 2000px;
	height: 100px;
	z-index: 10;
}

#menu {
	position: absolute;
	width: 2000px;
	height: 100px;
}


#start_button {
	position: absolute;
	float: left;
	top: 0px;
	right: 0px;
	width: 370px;
	height: 100px;
	float: right;
	margin-right: 130px; 
	background-color: yellow;
	z-index: 10;
}

#start_button:after {
	clear: both;
}

div#menu_space > div#login_form {
	width: 370px;
	height: 300px;
	top: 167px;
	margin-top: 0px;
	margin-left: 1500px;
	position: absolute;
	z-index: 10;
	
}

#login_activity {
	width: 370px;
	height: 90px;
	position: absolute;
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	z-index: 10;
}

#data_space, #space {
	/* border: 1px solid black; */
	border-top: 0px;
	width: 1400px;
	height: 1250px;
	margin: 50px auto;
	background-color: rgba(255,255,255,0.6);
}

#rank_notice {
	border-bottom: 1px solid black;
	width: 100%;
	height: 400px;
}

#rank {
	width: 40%;
	height: 100%;
	float: left;
	border-right: 1px solid black;
	
	
}
#rank_yutnoriiiRankList {
	font-family:'Nanum Gothic', 'NanumGothic','나눔고딕', 돋움, Dotum, Arial, sans-serif; font-size:16px; color:#676767; line-height:1; letter-spacing:-1px; -webkit-text-size-adjust: none;
	
}


#notice {
	width: 100%;
	height:100%;
}
#game_info {
	
	border-bottom: 1px solid black;
	clear: both;
	width: 100%;
	height: 100px;
}

#screenshot {
	border-bottom: 1px solid black;
	width: 100%;
	height: 400px;
}
#item_shop {
	
	width: 100%;
	height: 350px;
}


.footer{
	border: 1500px 1000px;
    border-top: 1px solid #BDBDBD;
    overflow-x: none;
    font-size: 13px;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-family:'Nanum Gothic', 'NanumGothic','나눔고딕', 돋움, Dotum, Arial, sans-serif; font-size:16px; color:#676767; line-height:1; letter-spacing:-1px; -webkit-text-size-adjust: none;
	position:relative;
	width:1500px; 
	padding:40px 0 57px 0; 
	margin:0 auto
}

.footer .ft_logo{
	position:absolute;
	top:45px;
	left:152px
}
.footer .ft_info{
	border-left:1px solid #e8e8e8;
	padding:2px 0 0 19px;
	margin-left:292px
}
.footer .ft_info ul{
	height:16px;
	padding:0 0 0 1px
}
.footer .ft_info li{
	float:left;
	font-size:11px;
	padding:0 16px 0 0;
	margin:0 16px 0 0;
	background:url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/bg_gs.gif') no-repeat right top
}
.footer .ft_info li.last{
	padding:0;
	margin:0;
	background:none
}
.footer .ft_info li a{
	color:#2a2a2a
}
.footer .ft_info li a.bold{
	font-weight:bold
}
.footer .ft_info dl{
	clear:both;
	letter-spacing:0;
	padding:6px 0 0 0
}
.footer .ft_info dl:after{
	content:"";
	display:block;
	clear:both
}
.footer .ft_info dd{
	float:left;
	font-size:11px;
	color:#7f7f7f;
	padding:0 9px 0 0;
	margin:0 6px 0 0;
	background:url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/ft_line.gif') no-repeat right 3px
}
.footer .ft_info dd.last{
	padding:0;
	margin:0;
	background:none
}
.footer .img_copyright{
	padding:12px 0 0 0;
	margin:0;
	background:none
}
.footer_new{
	position:relative;
	width:1200px;
	margin:0 auto;
	padding:37px 0 57px 0
}
.footer_new .ft_info_new{
	margin-left:261px
}
.footer_new .ft_info_new ul{
	height:25px
}
.footer_new .ft_info_new ul:after{
	content:"";
	display:block;
	clear:both
}
.footer_new .ft_info_new ul li{
	float:left;
	font-size:12px;
	color:#666666;
	font-weight:bold;
	padding:0 10px 0 0;
	margin:0 10px 0 0;
	background:url('http://s.nx.com/s2/game/mabinogi/mabiweb/homepage/images/common/ft_line_new.gif') no-repeat right top
}
.footer_new .ft_info_new ul li.last{
	padding:0;
	margin:0;
	background:none
}
.footer_new .ft_info_new ul li a.bold{
	color:#000000
}

.footer_new .ft_info_new dl,
.footer_new .ft_info_new p{
	font-size:11px;
	color:#888888;
	letter-spacing:0.5px
}

.footer_new .ft_info_new dl{
	height:16px
}
.footer_new .ft_info_new dl:after{
	content:"";
	display:block;
	clear:both
}
.footer_new .ft_info_new dl dd{
	float:left;
	padding:0 12px 0 0;
	letter-spacing:0
}
.footer_new .ft_info_new dl dd a{
	text-decoration:underline
}
.footer_new .copyright{
	padding:2px 0 21px 0
}
.footer_new .naver_policy{
	line-height:14px;
	padding:2px 0 21px 0
}
.footer_new .img_logo img{
	padding-right:16px
}

div#login_form a {
	font-weight: bold;
	line-height: 90px;
	margin: 10px 10px;
	text-decoration: none;
	font-size: 0.58em;
	color: #eaeaea;
}